@font-face {
	font-family: 'icomoon';
	src:url('fonts/icons/icomoon.eot?8mhl4z');
	src:url('fonts/icons/icomoon.eot?8mhl4z#iefix') format('embedded-opentype'),
		url('fonts/icons/icomoon.ttf?8mhl4z') format('truetype'),
		url('fonts/icons/icomoon.woff?8mhl4z') format('woff'),
		url('fonts/icons/icomoon.svg?8mhl4z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-envelope:before {
	content: "\f003";
}
.icon-star2:before {
	content: "\f005";
}
.icon-star:before {
	content: "\f006";
}
.icon-user:before {
	content: "\f007";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-home:before {
	content: "\f015";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.icon-arrow-circle-o-up:before {
	content: "\f01b";
}
.icon-play-circle-o:before {
	content: "\f01d";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-lock:before {
	content: "\f023";
}
.icon-image:before {
	content: "\f03e";
}
.icon-check-square-o:before {
	content: "\f046";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-comment:before {
	content: "\f075";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-comments:before {
	content: "\f086";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-phone:before {
	content: "\f095";
}
.icon-square-o:before {
	content: "\f096";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-credit-card:before {
	content: "\f09d";
}
.icon-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-square:before {
	content: "\f0c8";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-envelope2:before {
	content: "\f0e0";
}
.icon-comment-o:before {
	content: "\f0e5";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-clipboard:before {
	content: "\f0ea";
}
.icon-lightbulb-o:before {
	content: "\f0eb";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-building-o:before {
	content: "\f0f7";
}
.icon-hospital-o:before {
	content: "\f0f8";
}
.icon-ambulance:before {
	content: "\f0f9";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-plus-square:before {
	content: "\f0fe";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-circle-o:before {
	content: "\f10c";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-circle:before {
	content: "\f111";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-frown-o:before {
	content: "\f119";
}
.icon-meh-o:before {
	content: "\f11a";
}
.icon-question:before {
	content: "\f128";
}
.icon-info:before {
	content: "\f129";
}
.icon-exclamation:before {
	content: "\f12a";
}
.icon-shield:before {
	content: "\f132";
}
.icon-chevron-circle-left:before {
	content: "\f137";
}
.icon-chevron-circle-right:before {
	content: "\f138";
}
.icon-chevron-circle-up:before {
	content: "\f139";
}
.icon-chevron-circle-down:before {
	content: "\f13a";
}
.icon-play-circle:before {
	content: "\f144";
}
.icon-check-square:before {
	content: "\f14a";
}
.icon-compass:before {
	content: "\f14e";
}
.icon-caret-square-o-down:before {
	content: "\f150";
}
.icon-caret-square-o-up:before {
	content: "\f151";
}
.icon-caret-square-o-right:before {
	content: "\f152";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-trello:before {
	content: "\f181";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-sun-o:before {
	content: "\f185";
}
.icon-moon-o:before {
	content: "\f186";
}
.icon-arrow-circle-o-right:before {
	content: "\f18e";
}
.icon-arrow-circle-o-left:before {
	content: "\f190";
}
.icon-dot-circle-o:before {
	content: "\f192";
}
.icon-plus-square-o:before {
	content: "\f196";
}
.icon-automobile:before {
	content: "\f1b9";
}
.icon-cab:before {
	content: "\f1ba";
}
.icon-tree:before {
	content: "\f1bb";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-archive-o:before {
	content: "\f1c6";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-circle-thin:before {
	content: "\f1db";
}
.icon-binoculars:before {
	content: "\f1e5";
}
.icon-newspaper-o:before {
	content: "\f1ea";
}
.icon-calculator:before {
	content: "\f1ec";
}
.icon-paypal:before {
	content: "\f1ed";
}
.icon-copyright:before {
	content: "\f1f9";
}
.icon-at:before {
	content: "\f1fa";
}
.icon-area-chart:before {
	content: "\f1fe";
}
.icon-pie-chart:before {
	content: "\f200";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-bicycle:before {
	content: "\f206";
}
.icon-bus:before {
	content: "\f207";
}
.icon-diamond:before {
	content: "\f219";
}
.icon-heartbeat:before {
	content: "\f21e";
}
.icon-facebook-official:before {
	content: "\f230";
}
.icon-television:before {
	content: "\f26c";
}
.icon-calendar-check-o:before {
	content: "\f274";
}
.icon-map-signs:before {
	content: "\f277";
}

